.logo{
    width: 160px;
    height: auto;
    padding: 15px;
    margin-top: 6px;

}

.cabeza {
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    position: absolute;
}

.menu-toggle{
    display: none;
    margin-left: auto;
    line-height: 60px;
    font-size: 25px;
    cursor: pointer;
}

#navegador ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

#navegador ul li a{
    font-family: 'Long Cang', cursive;
    font-size: 20px;
    color: white;
    position: relative;
    text-decoration: none;
    line-height: 80px;
    padding: 6px 13px;
    transition: .2s;
}

#navegador ul li a.active,
#navegador ul li a:hover{
    background: #3498DB;
    border-radius: 2px;
}

.show{
    height: 160px !important;
}

.Fondo4{
    background-color: black;
    background-size: cover;
    height: 7vh;
}

.ImgRedes{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 40px;
    color: white;
    font-size: 13px;
}

.ImgRedes img{
    width: 40px;
    height: auto;
    margin-top: 10px;
}

.ImgRedes h3{
    margin-top: 20px;
    margin-right: 20px;
}

.Fondo5{
    background-color: black;
    background-size: cover;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.hora{
    color: white;
    text-align: center;
    
}

.fecha{
    color: white;
    text-align: center;
    margin-left: 15px;
}

@media screen and (max-width: 950px){
    .cabeza{
        align-items: center;
        flex-direction: column;
        height: 160px;
    }
}


@media screen and (max-width: 700px){
    #navegador ul li a{
        font-size: 20px;
    }
    
    .active{
        display: none;
    }  
}

@media screen and (max-width: 570px){
    .cabeza{
        align-items: center;
        flex-direction: row;
        height: 80px;
    }

    .menu-toggle{
        display:block;
        color: #0090f0;
        padding: 0 20px;
    }

    #navegador{
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease-out;
    }
    #navegador ul li {
        display: block;
        text-align: right;
    }

    #navegador ul li a{
        line-height: 30px;
        font-size: 20px;
        width: 100%;
    }

    #navegador ul li a:hover{
        background: #3498DB;
    } 
}

/*@media screen and (max-width: 950px){
    .cabeza{
        align-items: center;
        flex-direction: column;
        height: 160px;
    }
}


@media screen and (max-width: 700px){
    #navegador ul li a{
        font-size: 20px;
    }
    
    .active{
        display: none;
    }
}

@media screen and (max-width: 570px){

    .cabeza{
        align-items: center;
        flex-direction: row;
        height: 80px;
    }

    .menu-toggle{
        display:block;
        color: #0090f0;
        padding: 0 20px;
    }

    #navegador{
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .3s ease-out;
    }
    #navegador ul li {
        display: block;
        text-align: right;
    }

    #navegador ul li a{
        line-height: 30px;
        font-size: 20px;
        width: 100%;
    }

    #navegador ul li a:hover{
        background: #3498DB;
    }
    
}