.calcu{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor{
    width: 200px;
    height: 350px;
    background-color: rgb(0, 145, 182);
    border: black;
    text-align: center;
    margin: 0px 5px;
}

form{
    line-height: 15px;
}

.btn{
    width: 100px;
    height: 30px;
    position: relative;
    top: 20px;
    background-color: cadetblue;
    border: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.operador{
    font-size: 20px;
}

#numero1{
    text-align: center;
    border: 5px wheat;
}

#numero2{
    text-align: center;
}

#resultado{
    text-align: center;
}

#numero11{
    text-align: center;
    border: 5px wheat;
}

#numero22{
    text-align: center;
}

#resultado1{
    text-align: center;
}

#numero111{
    text-align: center;
    border: 5px wheat;
}

#numero222{
    text-align: center;
}

#resultado2{
    text-align: center;
}

p {
    font-size: 12px;
}